<%

# BioCatalogue: app/views/rest_methods/_listing.html.erb
#
# Copyright (c) 2010, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div class="listings">
	<% items.sort.each do |resource| %>
    <% resource.rest_methods.sort.each do |method| %>
      <div class="listing_item">
        <p class="name">
          <% link_text = "Endpoint: #{method.display_endpoint} " %>
          <% if method.endpoint_name %>
            <% link_text += "(#{method.endpoint_name})" %>
          <% else %>
            <% link_text += "(<span class='none_text'>No name</span>)" %>
          <% end %>
          
          <%= link_to(link_text, method) -%>
        </p>
                
        <p class="detail faded">
          <%= h create_url_template(base_endpoint, resource, method) -%>
        </p>
        
        <div style="font-size: 85%;">
          <%= render :partial => "annotations/descriptions",
                     :locals => { :annotatable => method,
                                  :show_header => false,
                                  :truncate_desc => 400,
                                  :auto_link_desc => false,
                                  :show_modify_options => false,
                                  :show_add_box => false } -%>
        </div>
        
        <div class="detail">
          <table>
            <tr>
              <td style="width: 17em; line-height: 1.5; padding-top: 1px; text-align: left;">
                <b>Tags on this endpoint:</b>
              </td>
              <td>
                <%= render :partial => "annotations/tags_flat",
                           :locals => { :annotatable => method } -%>
              </td>
            </tr>
          </table>
        </div>
        
      </div>
    <% end %>
  <% end %>
</div>
