<%

# BioCatalogue: app/views/services/_about_biomoby.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div style="padding: 1em 1.5em; text-align: left;">
	<p>
		<b>About BioMoby</b>
	</p>
	<p>
		BioMoby is a way of making services much easier to use and work better together
		using an ontology-based messaging standard.
	</p>
	<p>
		Future releases of the <%= SITE_NAME -%> will provide improved support for
		BioMoby services, including harvesting descriptions and info from the BioMoby
		registry.
	</p>
	<p>
		Further documentation can be found 
		<%= link_to('here', "http://biomoby.open-bio.org/index.php/what-is-moby/", :popup => true) -%>
	</p>
</div>
