<div class="sidebar_box">
	<div class="box_title" href="#">Box title</div>
	<div class="box_body">
		<div class="box_text">
			Text
		</div>
		<div class="separator"></div>
		<div class="box_subtitle">Box sub-title</div>
		<div class="box_text">
			Text
		</div>
	</div>
</div>