<%

# BioCatalogue: app/views/services/_sidebar.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div class="sidebar_box">
	<div class="box_title" href="#">Tags</div>
	<div class="box_body">
		<div class="box_text">
			<% unless (tag_annotations = @service.annotations_with_attribute("tag")).empty? %>
				| 
				<% tag_annotations.each do |ann| %>
					<%= h(ann.value) -%> |
				<% end %>
			<% else %>
				<span class="none_text">none</span>
			<% end %>
		</div>
		<div class="separator"></div>
		<div class="box_text center">
			<% if logged_in? %>
				<%= annotation_add_by_popup_link "Tag",
																				 @service,
	 																			 "",
																				 "",
																				 "Add tags",
																				 false,
																				 true -%>
		 <% else %>
		 	<%= link_to "Log in", login_path -%> to add tags
		 <% end %>
		</div>
	</div>
</div>