<% t "Browse Services" -%>

<span style="float: right;">
	<%= link_to 'New Service', new_service_path -%>
</span>

<h1>Browse Web Services</h1>

<br/>
<br/>

<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @services } %>

<div id="latest_services">
	<%= render :partial => "listing", :locals => { :items => @services } %>
</div>

<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @services } %>
