<% t "Submit a New Service" -%>

<h1>Submit a New Service</h1>

<p>
	Click on the type of service you would like to submit...
</p>

<ul>
	<% SERVICE_TYPES.each do |name, klass| -%>
		<li>
			<%= link_to(name, eval("new_#{klass.to_s.underscore}_url")) -%>
		</li>
	<% end %>
</ul>

<br/>

<ul>
	<li>
		<%= link_to("Batch SOAP Web Service submission", bulk_new_soap_services_url) -%>
	</li>
</ul>