<p>
  <b>Service Name:</b>
  <%=h @service.name %> 
</p>

<p>
  <b>Unique code:</b>
  <%=h @service.unique_code %>
</p>


<p>
  <b>Service types:</b>
  <%= @all_service_types.to_sentence %>
</p>

<% render :partial => "#{@latest_version_instance.class.to_s.pluralize.underscore}/structure", :locals => { :service_version_instance =>  @latest_version_instance } %>

