<%

# BioCatalogue: app/views/announcements/news.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<h1>New Announcement</h1>

<% if !@announcement.nil? && !@announcement.errors.nil? then %>
    <% @announcement.errors.full_messages.each do |err| %>
        <%= err unless err.nil? %>
    <% end %>
<% end %>

<%= form_for :announcement, :url => announcements_path do |form| -%>
  <%= render :partial => 'form', :object => form %>
  <%= submit_tag "Create", :disable_with => "Creating..." %>
<% end -%>