.idea
.rvmrc
log/
tmp/
var/
config/database.yml
config/initializers/biocat_local.rb
config/initializers/geokit_local.rb
config/initializers/mail.rb
config/memcache.yml
config/preinitializer.rb
config/solr.yml
/db/schema.db
/vendor/plugins/acts_as_solr/solr/solr/data/
/vendor/plugins/acts_as_solr/solr/temp/
public/stylesheets/colour-override.css
data/service_categories.yml
public/javascripts/base_packaged.js
public/stylesheets/base_packaged.css
data/search_query_suggestions.txt
data/eb-eye/eb-eye_dump_*
solr/
