Please, click on the following link to activate your account.
<br />
<a href="http://localhost:3005/activate_account/<%= @user.security_token %>">http://localhost:3005/activate_account/<%= @user.security_token %></a>