<%

# BioCatalogue: app/views/rest_services/_help_box.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div class="box_info_standout" %>
  <div style="margin-top:5px;">
    <%= create_expand_collapse_link('hidden_resource_capture_help', 
                                    :link_text => "What are endpoints ?",
                                    :icon_float => "right",
                                    :class => "collapsable_title") -%>
  </div>
  
  <div id="hidden_resource_capture_help" style="display:none;"><br/>
    A REST service has a collection of different endpoints that service consumers can access to get various data/functionality from the REST resources of the REST service.  
    
    These endpoints are, hence, simple URLs to the REST resources.
    
    A resource can be accessed using the different HTTP methods.
    
    
    <br/><br/>
  </div>
</div>
