<%

# BioCatalogue: app/views/rest_services/_service_listing_info.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<!--
<p>
	<b><%= pluralize(service_version_instance.rest_resources.size, "REST Resources") -%></b>
</p>
-->

