<%

# BioCatalogue: app/views/search/_breadcrumbs.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% case controller.action_name.to_s; when "show" -%>
  <li><%= link_to("Search", search_url) -%></li>
	
	<li><b>&#187;</b></li>
	
	<% if @query.blank? %>
		<li><span>Please specify a search query...</span></li>
	<% else %>
		<li><span><%= "#{@type.titleize} <span style='vertical-align:middle;'><b>&#187;</b></span> Results for '#{h(@query)}'" -%></span></li>
	<% end %>
	
<% else -%>
  <!-- no breadcrumb -->
<% end -%>
