<% t "Results" -%>

<h1>Search Results</h1>

<p>
	<b>Search query: </b>
	"<%= h @query -%>"
</p>

<% if @count == 0 %>

  <p class="none_text">No search results.</p>
  
<% else %>

	<div class="tabber">

		<% @results.each do |type, results| %>
			<% unless results.empty? %>
			  <div class="tabbertab">
			    <h3><%= "#{type} (#{results.length})" -%></h3>
			    
					<%= render :partial => "#{type.downcase}/listing", :locals => { :items => results } %>
			  </div>
			<% end %>
		<% end %>
	
	</div>
	
<% end %>

<br />

