<h1>New favourite</h1>

<%= form_for(@favourite) do |f| %>
    <% if !@favourite.nil? && !@favourite.errors.nil? then %>
        <% @favourite.errors.full_messages.each do |err| %>
            <%= err %>
        <% end %>
    <% end %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', favourites_path %>
