<h1>New favourite</h1>

<%= form_for(@favourite) do |f| %>
    <% @favourite.errors.full_messages.each do |err|  %>
        <%= err %>
    <% end %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', favourites_path %>
