<%

# BioCatalogue: app/views/termsofuse/index.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<h1>BioCatalogue Terms Of Use</h1>

<br/>

<div id="terms_of_use">
	<h3>Glossary</h3>
  <ul>
  	<li>
  		<b>The BioCatalogue</b>: The website provided at http://www.biocatalogue.org (or "Site") 
			and other supporting services provided by the BioCatalogue project.
		</li>
		<li>
  		<b>The BioCatalogue Team (or "We")</b>: The provider and management of The BioCatalogue.
		</li>
  	<li>
  		<b>User</b>: Person, institution or program using The BioCatalogue.
		</li>
		<li>
			<b>Member</b>: Person, institution or program who has an account on The BioCatalogue.  
      Members are registered users who may contribute to the content of the
      Site by registering web services, adding descriptions/tags/etc, rating 
      services, favouriting services and so on. All contributions by Members are
      identified, and credited, back to them through their BioCatalogue account.
		</li>
	</ul>
	
	<br/>
	
	<h3>Terms Of Use</h3>
	
	<h4>Member Accounts</h4>
	<ol>
		<li>
			Anyone may sign up for an account and become a Member of The BioCatalogue for free.
		</li>
		<li>
			All Member profiles are public and therefore can be viewed by
      anyone and be indexed by search engines such as Google. However, certain private 
			account information like usernames, passwords and registered email addresses are 
			never exposed publicly.
		</li>
		<li>
			Any personal information provided  will be handle in accordance with the United Kingdom's 
			Data Protection legislation. No personal data shall be made public without prior consent 
			from the User.
		</li>
	</ol>
	
	<h4>Content and Services</h4>
	<ol>
		<li>
			The BioCatalogue is available free of charge to be used by 
			any individual and for any purpose except where specific restrictions 
			are indicated.
		</li>
		<li>
			Users of The BioCatalogue agree not to attempt to use any part 
			of The BioCatalogue apart from through the service interfaces provided.
		</li>
		<li>
			We do not guarantee the accuracy of any data or software and services for any purpose and 
			accept no responsibility for consequences	of their use.
		</li>
		<li>
			Members may submit web services and metadata to The BioCatalogue for free.
		</li>
		<li>
			Member-posted content, unless source quoted, is licensed under a Creative Commons 
			Public Domain License
		</li>
		<li>
			The validity and authenticity of the content of any submissions is 
			the sole responsibility of the depositing Members.
		</li>
		<li>
			We do not guarantee copyrights, patent rights, brand rights,
			or any other rights belonging to third parties, towards the content appearing 
			on The BioCatalogue.
		</li>
		<li>
			We decline any responsibility concerning the content and use of other websites
			and web services reached from The BioCatalogue.
		</li>
		<li>
			We regard the nature of the work carried out by any individual User 
			as confidential, and shall make every reasonable attempt to prevent breaches of that 
			confidentiality.
		</li>
		<li>
			We do not accept responsibility for the consequences of any breach of 
			the confidentiality of The BioCatalogue by third parties who by any means gain illegitimate 
			access to information from The BioCatalogue.
		</li>
		<li>
			We will make all reasonable effort to maintain continuity of The BioCatalogue and 
			provide adequate warning of any changes or discontinuities. However, The BioCatalogue Team 
			accepts no responsibility for the consequences of any temporary or permanent discontinuity 
			to The BioCatalogue.
		</li>
		<li>
			We place no restrictions on the use or redistribution of the Member-generated content available 
			via The BioCatalogue. However, some of the content may be subject to patent, copyright, 
			or other intellectual property rights claimed by third parties. It is the responsibility 
			of Users of The BioCatalogue to ensure that their exploitation of the data does 
			not infringe the rights of such third parties.
		</li>
		<li>
			Anyone may use the source code of The BioCatalogue consistent with the BSD License 
			(unless licensed otherwise, in which case the relevant license is applicable).
		</li>
		<li>
			We require attribution for the use of The BioCatalogue in any subsequent product or service.
		</li>
		<li>
			Relevant law governing these Terms of Use is UK law. The BioCatalogue is controlled and offered from 
			its facilities in the United Kingdom. We make no representations that The BioCatalogue is appropriate or available 
			for use in other locations. Those who access or use The BioCatalogue from other jurisdictions do so at 
			their own volition and are responsible for compliance with local law.
		</li>
	</ol>
	
	<h4>Withdrawal / Take Down Policy</h4>
	<ol>
		<li>
			If any User exploits The BioCatalogue to a level that prevents, or looks set to prevent, 
			The BioCatalogue Team from providing its services to others, We may discontinue some or all services to that User. 
		</li>
		<li>
			If content submitted to The BioCatalogue is deemed illicit, offensive or inappropriate, We reserve the 
			right to immediately remove such content, and permanently withdraw the authorisation to access The BioCatalogue
			to the User(s) responsible. 
		</li>
		<li>
			If We receive proof of copyright violation or plagiarism, the relevant content will be removed immediately.
		</li>
		<li>
			Content may be withdrawn from The BioCatalogue at the request of the provider / copyright holder. 
		</li>
		<li>
			A notice of withdrawal will accompany any withdrawal of content by The BioCatalogue Team to the author of the content, 
			together with the reason for such withdrawal.
		</li>
		<li>
			Where the reason for take down or withdrawal is found to be unsubstantiated the content may be re-exposed into The BioCatalogue, 
			with any appropriate amendments to the content itself or access arrangements.
		</li>
	</ol>
	
	<h4>Preservation</h4>
	<ol>
		<li>
			For planning and scientific review purposes, We will keep records of usage and other metrics. We may use this information, together 
			with information from the content of The BioCatalogue in presentations, reports and other project material, in the accordance with 
			the Data Protection Act.
		</li> 
		<li>
			We may make information about particular software or web services available to third parties who supply the services, 
			in the accordance with the Data Protection Act.
		</li>
		<li>
			Logs of usage may also be maintained for the purposes of monitoring and improving The BioCatalogue, and measuring the impact a particular 
			service has on our resources. These logs will be kept in confidence and not made available to third parties. 
		</li>
		<li>
			Any feedback on The BioCatalogue will be treated as non-confidential unless the individual or organisation providing the feedback states otherwise.
		</li>
		<li>
			Withdrawn and deleted content are not removed permanently from The BioCatalogue, but are removed from public view and public consumption
			(including removed from the BioCatalogue search). However, they may still exist in backups and other operational data stores, and also exist
			in internet caches and search engines.
		</li>
	</ol>
	
	<p>
		These Terms of Use reflect the enduring principles under which The BioCatalogue are offered. We will not, without good reason, 
		alter them, and where alterations are inevitable, we will attempt to give reasonable notice of such alterations. However, we do reserve 
		the right to alter these Terms of Use at any time in order to ensure their appropriateness to the BioCatalogue mission.
		<br/><br/>
		Any questions or comments concerning these Terms of Use can be addressed to the BioCatalogue Team. 
	</p>
</div>