<%

# BioCatalogue: app/views/users/_form_receive_notifications
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<p>
	<%= form.check_box :receive_notifications %>
	<%= form.label :receive_notifications, "I would like to receive email notifications" %>
</p>

<div class="box_info_standout" style="margin-top: 0.6em; font-size: 93%;">
  By ticking this box you agree to receiving emails from us.
	This may be announcements, maintenance notices and so on.  
	In the future this will also include email notifications for 
	any services you have subscribed to, and notifications when users message you. 
</div>