<%

# BioCatalogue: app/views/users/activate_account.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div style="margin-top: 5em; text-align: center;"><%= link_to 'Sign me in', "/login", :id => "login_link", :class => "login" -%> to my account.</div>