<%

# BioCatalogue: app/views/users/forgot_password.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<h1>Resetting your password - Step 1</h1>

<% form_for :user, :url => { :action => "request_reset_password" } do |f| -%>
<fieldset>
  <legend>Step 1</legend>
  Please provide the <b>email address</b> you used when you registered to BioCatalogue.
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <%= f.submit "Continue", :disable_with => "Sending..." %>
</fieldset>
<% end -%>
