<%

# BioCatalogue: app/views/soap_services/_after_wsdl_load.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% if !@error_message.blank? -%>
	<div class="soap_service_form">
		<p class="error_text">
			<%= h @error_message -%>
		</p>
	</div>
<% elsif !@existing_soap_service.nil? %>
	<div class="soap_service_form">
		<p class="error_text">
			This service has already been submitted:
		</p>
		<p>
			<% if @existing_soap_service.service.nil? %>
				<%= link_to h(@existing_soap_service.name), soap_service_url(@existing_soap_service) -%>
			<% else %>
				<%= link_to h(@existing_soap_service.service.name), service_url(@existing_soap_service.service) -%>
			<% end %>
		</p>
	</div>
<% else %>
	<p class="step_text">2. Check the details, then submit... </p>
	<p style="color: #666666;">After submission you will be able to provide more information</p>
	<div class="soap_service_form">
		<%= render :partial => "new_form" %>
	</div>
<% end -%>
