<%

# BioCatalogue: app/views/soap_services/_show_service_tabs.html.erb
#
# Copyright (c) 2008-2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div id="tab-operations" class="tabbertab">
  <h3>Operations (<%= service_version_instance.soap_operations.length -%>)</h3>
	
	<a name='operations_top'></a>
	
	<div style="margin: 0 1em;">
	
		<% service_version_instance.soap_operations.each do |operation| %>
			
			
			
		<% end %>
		
		<p style="margin: 0 0 1.5em 0; font-size: 93%; text-align: right;">
			<a href="#operations_top">Back to top</a>
		</p>
	
	</div>
  
</div>
