<%

# BioCatalogue: app/views/home/_info_boxes.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div style="width: 470px; margin: 0 auto;">

	<!-- DISCOVER -->
	<div class="liquid-round" style="width: 230px; margin-bottom: 5px; float: left; margin-right: 10px;">
	  <div class="top"><span></span></div>
	  <div class="center-content" style="height: 14em;">
			<!-- CONTENT BEGIN -->
			<p class="info_text_head">
			  "Web Services are hard to find"
			</p>
			<p class="info_text_label">
				<%= image_tag "label_discover.png" -%>
			</p>
			<ul class="info_text_list">
				<li>
					Find the right Web Service
				</li>
				<li>
					Easy and powerful search and filtering
				</li>
				<li>
					Search across metadata by service providers, expert curators and the wider community
				</li>
			</ul>
			<!-- CONTENT END -->
	  </div>
	  <div class="bottom"><span></span></div>
	</div>
	
	<!-- REGISTER -->
	<div class="liquid-round" style="width: 230px; margin-bottom: 5px; float: left;">
	  <div class="top"><span></span></div>
	  <div class="center-content" style="height: 14em;">
			<!-- CONTENT BEGIN -->
			<p class="info_text_head">
			  "My Web Services are not visible"
			</p>
			<p class="info_text_label">
				<%= image_tag "label_register.png" -%>
			</p>
			<ul class="info_text_list">
				<li>
					Anyone can easily register Web Services
				</li>
				<li>
					Instantly available to the community, developers and search engines
				</li>
				<li>
					Service providers can advertise, describe and monitor their services
				</li>
			</ul>
			<!-- CONTENT END -->
	  </div>
	  <div class="bottom"><span></span></div>
	</div>
	
	<span class="clear"></span>

</div>

<div style="width: 470px; margin: 0 auto;">

	<!-- ANNOTATE -->
	<div class="liquid-round" style="width: 230px; margin-bottom: 20px; float: left; margin-right: 10px;">
	  <div class="top"><span></span></div>
	  <div class="center-content" style="height: 14em;">
			<!-- CONTENT BEGIN -->
			<p class="info_text_head">
			  "Web Services are poorly described"
			</p>
			<p class="info_text_label">
				<%= image_tag "label_annotate.png" -%>
			</p>
			<ul class="info_text_list">
				<li>
					Anyone can describe, tag, recommend,  comment on and annotate services
				</li>
				<li>
					Expert curators oversee the BioCatalogue
				</li>
				<li>
					The wider community participates in this effort through social curation
				</li>
			</ul>
			<!-- CONTENT END -->
	  </div>
	  <div class="bottom"><span></span></div>
	</div>
	
	<!-- MONITOR -->
	<div class="liquid-round" style="width: 230px; margin-bottom: 20px; float: left;">
	  <div class="top"><span></span></div>
	  <div class="center-content" style="height: 14em;">
			<!-- CONTENT BEGIN -->
			<p class="info_text_head">
			  "Web Services are volatile"
			</p>
			<p class="info_text_label">
				<%= image_tag "label_monitor.png" -%>
			</p>
			<ul class="info_text_list">		
				<li>
					Web Services change their location and capability, or become outdated
				</li>
				<li>
					The BioCatalogue monitors Web Services and records historical data on the availability, reliability and functionality of these services
				</li>
			</ul>
			<!-- CONTENT END -->
	  </div>
	  <div class="bottom"><span></span></div>
	</div>

	<span class="clear"></span>

</div>