

<div id="tab-favourites" class="tabbertab">
  <% favourites = @user.favourites.reject { |f| f.favouritable_type != "Service" } %>
  <% unless favourites.empty? %>
      <% favourites.each do |f| %>
          <%= render :partial => "#{f.favouritable_type.pluralize.downcase}/listing", :locals => { :items => [ f.favouritable ] }  -%>

          <p style="text-align: right; margin: -1.5em 0 2em 0;">
            <% if mine?(f) -%>
                <%= link_to(image_tag(icon_filename_for(:delete)) + content_tag(:span, " Remove from favourites"),
                            favourite_path(f),
                            :method => :delete,
                            :confirm => "Are you sure you want to remove this service from your favourites?",
                            :title => tooltip_title_attrib("Remove from your favourites"),
                            :class => "button_slim") -%>
            <% end -%>
          </p>
      <% end %>
  <% else %>
      <p class="none_text">None</p>
  <% end %>
</div>