  <div id="tab-services" class="tabbertab">
    <%= render :partial => 'widgets/pagination_top', :locals => {:paginated_items => @users_services} %>
    <div id="users_services" style="margin: 1em 0;">
      <%= render :partial => "services/listing", :locals => {:items => @users_services} %>
    </div>
    <%= render :partial => 'widgets/pagination_bottom', :locals => {:paginated_items => @users_services} %>
  </div>
