<div id="action_bar">
	<% form_tag search_url, :method => :get, :style => "display: inline;" do %>
	  Search:
		<%= text_field_tag :query, nil, :size => 40 -%> 
	  <%= submit_tag '', :class => "search_button" -%>
	<% end %>
	
	<span id="action_links">
		<%= link_to 'Browse', services_path %><%= link_to 'Register a Service', new_service_path %>
	</span>
</div>
