<div id="action_bar">
	Search:&nbsp;<input type="text" />&nbsp;<%= link_to image_tag("go_button.png", :alt => "Search for a Service"), "/" %><span id="action_links"><%= link_to 'Browse', services_path %><%= link_to 'Register a Service', new_service_path %></span>
</div>