<div id="login_box" style="visibility: hidden;">
	<a href="#" onclick="closeLoginBox('login_box', 'login_link');">
		<%= image_tag "close.gif", :alt => "Close", :title => "Close" -%>
	</a>				
	<% form_tag session_path do %>
      <span>
        <%= text_field_tag :login, params[:login], { :size => 15, :class => 'small_login' } %>
        <label for="login">Email:</label>
      </span>
	  <br />			
      <span>
        <%= password_field_tag :password, params[:password], { :size => 15, :class => 'small_login' } %>
        <label for="password">Password:</label>
      </span>
      <%= submit_tag "Login", { :class => 'small_submit_button' } %>
	  <br />
	  <a id="forgot_pwd" href="#">Forgot your<br />password ?</a>
    <% end %>
</div>