<%

# BioCatalogue: app/views/widgets/_login_links.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div id="login_links">
	<% if logged_in? -%>
		Welcome <%= link_to h(current_user.display_name), current_user, :id => "user_profile_link", :class => "" -%>
		<span class="sep">|</span
		<%= link_to "My Favourites", user_path(current_user, :anchor => 'favourites') -%>
		<span class="sep">|</span
		<%= link_to 'Sign out', logout_url, :id => "logout_link", :class => "red_arrow", :method => :delete -%>
	<% else -%>
		<%= link_to 'Sign in', "#", :id => "login_link", :class => "login", :onclick => "showLoginBox(this, 'login_box');" -%>
	<% end -%>
</div>             