<div id="login_links">
	<p>
		<% if logged_in? -%>
			Welcome <%= link_to h(current_user.display_name), current_user, :id => "user_profile_link", :class => "" -%>&nbsp;|&nbsp;
			<%= link_to 'Logout', logout_url, :id => "logout_link", :class => "red_arrow", :method => :delete -%>
		<% else -%>
			<%= link_to 'Login', "#", :id => "login_link", :class => "green_arrow", :onclick => "showLoginBox(this, 'login_box');" -%>
		<% end -%>
	</p>
</div>