<ul class="primary-links"><li><a href="/">Home</a></li>
	<li class="separator"><a href="#">Support</a></li>
	<li class="separator"><a href="http://www.biocatalogue.org/wiki">About us</a></li>
</ul>