<%

# BioCatalogue: app/views/widgets/_primary_links.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<ul class="primary-links">
	<li><a href="http://www.biocatalogue.org/wiki/doku.php?id=public:help:getting_started">Getting Started</a></li>
	<li class="separator"><a href="http://wiki.biocatalogue.org" target="_blank">About Us</a></li>
	<li class="separator"><a href="/contact">Contact Us</a></li>
	<li class="separator"><a class="end" href="http://apidocs.biocatalogue.org" target="_blank">API Docs</a></li>
</ul>