<%

# BioCatalogue: app/views/rest_resources/_help_box.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% css_options = (css_options||"") + " font-size:85%; padding:7px 10px; min-width:300px;"%>

<div class="box_info_standout" <%=h "style=#{css_options}" %> >
  <p>
    Enter the parameterised endpoints (manually or via copy-and-paste), one on each line, in the space provided below.
  </p>
  
  <p>
    To specify configurable parameters, put curly braces <b>{}</b> around the parameter's value; configurable query parameters will be defined as <b>name={value}</b>, while configurable URL parameters as <b>{value}</b>.
  </p>
  
  <p>
    HTTP methods/verbs (i.e. PUT, POST, DELETE, GET, etc) can also be specified by entering the HTTP method/verb followed by a space and then the endpoint.
  </p>
    
  Example:<br/>
  <ol type="A" style="margin-left: 1em; font-size:110%;">
    <li>POST <span class="grayed_text">http://www.ebi.ac.uk/Tools/dbfetch/dbfetch</span>/{db}/{id}</li>
    <li>GET <span class="grayed_text">http://www.ebi.ac.uk/Tools/dbfetch/dbfetch</span>/{db}/{id}/fasta?style={style}</li>
    <li><span class="grayed_text">http://www.ebi.ac.uk/Tools/dbfetch/dbfetch</span>/{db}/{id}/{format}?style=yaml</li>
  </ol>

  <div id="hidden_resource_capture_help" style="display:none;">    
    <br/>In the above example: <br/>
    <ul style="margin-left: 1em;">
      <li>Three endpoints will be extracted; one with an HTTP POST, two with an HTTP GET.</li>
      <li>These endpoints have <b>http://www.ebi.ac.uk/Tools/dbfetch/dbfetch</b> as their base URL.</li>
      <li>All endpoints contain two configurable parameters, <b>db</b> and <b>id</b>.</li>  
      <br/>
      <li>The <b>style</b> parameter is configurable in the second endpoint, whereas it is non-configurable in the third endpoint.  In the case of the latter, it will be treated as part of the endpoint.</li>
      <br/>
    </ul>
    
  </div>
  
  <p>
    The endpoints for <b>this</b> REST service <b>must</b> be preceded by the base URL:
    <b><%=h @rest_service.service.latest_deployment.endpoint -%></b>
  </p>

  <span style="float:right;">
    <%= create_expand_collapse_link('hidden_resource_capture_help', 
                                    :link_text => "expand/collapse") -%>
  </span>
  
  <br/><br/>
</div>
