<%

# BioCatalogue: app/views/rest_resources/_help_box.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% css_options = (css_options||"") + " font-size:85%; padding:7px 10px; min-width:300px;"%>

<div class="box_info_standout" <%= "style=#{css_options}" %> >
  Simply enter the parameterised endpoint (manually or via copy-and-paste) in the space provided below;  this will default to an HTTP GET.  To specify other HTTP methods (i.e. PUT, POST, DELETE), simply enter the HTTP method followed by the endpoint, seperating the two by a space.<br/>
    
  <div id="hidden_resource_capture_help" style="display:none;">
    <br/>
    To specify configurable parameters, simply put curly braces <b>{}</b> around the parameter's value; configurable query parameters will be defined as <b>name={value}</b>, while configurable URL parameters as <b>{value}</b>. <br/><br/>

    Example:<br/>
    <ul style="margin-left: 1em;">
      <li>POST http://www.ebi.ac.uk/Tools/webservices/rest/dbfetch/{db}/{id}</li>
      <li>http://www.ebi.ac.uk/cgi-bin/dbfetch?db={EMBL}&amp;id={J00231}&amp;style=raw</li>
    </ul><br/>
    
    In the above example, <b>db</b> and <b>id</b> are extracted as configurable parameters.  In the second endpoint <b>style</b> is treated as a non-configurable parameter i.e. part of the endpoint.<br/>
  </div>
  
  <span style="float:right;">
    <%= create_expand_collapse_link('hidden_resource_capture_help', 
                                    :link_text => "expand/collapse") -%>
  </span>
  
  <br/><br/>
  The endpoints for this REST service <b>must</b> be preceded by the base endpoint:
    <b><%=h @rest_service.service.latest_deployment.endpoint -%></b>
</div>
