<%

# BioCatalogue: app/views/registries/_listing.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div class="listings">
	<% items.each do |registry| %>
		<div class="listing_item">
			<p class="name">
				<%= link_to(h(registry.display_name), registry_path(registry)) -%>
			</p>
			
			<% unless registry.description.blank? %>
				<p class="desc"> 
					<%= h(strip_tags(registry.description)) -%>
				</p>
			<% end %>
			
			<p class="details">
				<b>Homepage:</b>
				<% unless registry.homepage.blank? %>
					<%= link_to h(registry.homepage), registry_url(registry) -%>
				<% else %>
					<span class="none_text">none</span>
				<% end %>
			</p>
		</div>
	<% end %>
</div>
