<h1>New service_deployment</h1>

<% form_for(@service_deployment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', service_deployments_path %>
