<%

# BioCatalogue: app/views/service_providers/_listing.html.erb
#
# Copyright (c) 2008-2011, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div class="listings">
	<% items.each do |provider| %>
		<div class="listing_item">

			<p class="name">
				<%= link_to(display_name(provider), service_provider_path(provider)) -%>
			</p>
      
      <p class="detail">
        <%= pluralize(provider.services.count, "service") -%>
      </p>
      
      <div class="box_annotations detail">
        <% unless (desc = provider.preferred_description).blank? %>
          <% rounded(annotation_text_item_background_color, "#333", "100%") do %>
            <div class="text">
              <%= annotation_prepare_description(desc,
                                                 {
                                                         :do_strip_tags => true,
                                                         :truncate_length => 700,
                                                         :do_auto_link => false,
                                                         :is_markdownable => false
                                                 }) -%>
            </div>
          <% end %>
        <% end %>
      </div>
      
		</div>
	<% end %>
</div>
