<% t "Browse Service Providers" -%>

<h1>Browse Service Providers</h1>

<br/>
<br/>

<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @service_providers } %>

<div id="latest_providers">
	<%= render :partial => "listing", :locals => { :items => @service_providers } %>
</div>

<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @service_providers } %>
