<% t "#{h @service_provider.name}" -%>

<h1>Service Provider: <%= h(@service_provider.name) -%></h1>

<div class="tabber">
	
	<% services = @service_provider.services %>
  <div class="tabbertab">
    <h3><%= "Services (#{services.length})" -%></h3>
    
		<%= render :partial => "services/listing", :locals => { :items => services } %>
  </div>

</div>

