<div id="tab-services" class="tabbertab">

  <%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @provider_services } %>

  <div id="provider_services" style="margin: 1em 0;">
    <%= render :partial => "services/listing", :locals => { :items => @provider_services } %>
  </div>

  <%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @provider_services } %>
</div>