<%

# BioCatalogue: app/views/annotations/_tags_box.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% tag_annotations = get_tags_for_annotatable(annotatable) %>

<div class="box_section">
	<p class="heading">
		Tags
		<span class="faded">(<%= tag_annotations.length -%>)</span>
	</p>
	
	<div class="center">
		<% unless tag_annotations.empty? %>
			<%= generate_tag_cloud_from_annotations(tag_annotations, :weighted, :max_font => 14) %>
		<% else %>
			<span class="none_text">none</span>
		<% end %>
	</div>
	
	<div class="footer">
		<%= annotation_add_by_popup_link annotatable,
											 :attribute_name => "Tag",
                     	 :tooltip_text => '',
                     	 :link_text => 'Add tags',
                     	 :icon_filename => 'add_tag.gif', 
											 :icon_hover_filename => 'add_tag_hover.gif',
											 :icon_inactive_filename => 'add_tag_inactive.gif',
											 :only_show_on_hover => false,
                     	 :multiple => true -%>
  </div>
</div>