<%

# BioCatalogue: app/views/annotations/index.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<h1>Listing annotations</h1>

<table>
  <tr>
  </tr>

<% for annotations in @annotations %>
  <tr>
    <td><%= link_to 'Show', annotations %></td>
    <td><%= link_to 'Edit', edit_annotations_path(annotations) %></td>
    <td><%= link_to 'Destroy', annotations, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New annotations', new_annotations_path %>
