<%

# BioCatalogue: app/views/contact/index.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<h1>Contact the BioCatalogue Team</h1>

If you have any questions, you can send us an email at: 
<%= mail_to "biocatalogue-support@rubyforge.org", "BioCatalogue Support", :encode => "javascript", :class => "write_email" -%>