<div>
	
		<b>About SOAPlab</b>
	<p>
		Soaplab services are command line applications, wrapped as SOAP services.
		All Soaplab services have the same operation names as they all share a
		generic interface. To use a soaplab service you might need additional
		metadata which are currently not displayed in the BioCatalogue. 
	</p>
	<p>
		Future releases of the BioCatalogue will provide improved support for
		SOAPLab services especially with regard to metadata coverage for the
		services.
	</p>
	
	Further documentation on soaplab services can be found on
	<%= link_to('EBI SOAPlab', "http://www.ebi.ac.uk/soaplab", :popup => true) %> server pages and on
	<%= link_to('sourceforge', "http://emboss.sourceforge.net/apps/release/6.0/emboss/apps/index.html", :popup => true) -%>
	 for EMBOSS soaplab services.
	
</div>