<%

# BioCatalogue: app/views/soaplab_servers/index.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @soaplab_servers } %>

<div id="latest_soaplab_servers" style="margin: 1em 0;">
	<%= render :partial => "listing", :locals => { :items => @soaplab_servers } %>
</div>

<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @soaplab_servers } %>


