<%

# BioCatalogue: app/views/filtering/_selected_filters.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%
	current_filters = BioCatalogue::Filtering.convert_params_to_filters(params)
%>

<div class="filter_type_box">
	<% rounded "#D9D9D9", "#333", "100%" do %>
		
		<p class="type">
			Current Filters Applied
		</p>
		
		<% if current_filters.blank? %>
		
			<div style="text-align:center;">
				<span class="none_text">none</span>
			</div>
			
		<% else %>
			
			<% filters_count = 0 %>
			
			<% current_filters.each do |filter_type, values| %>
			
				<% filters_count += 1 %>
				
				<div class="selected_filters_box">
					
					<% rounded "#FFC", "#333", "100%" do %>
					
						<p class="type_small">
							<%= BioCatalogue::Filtering.filter_type_to_display_name(filter_type) -%>
						</p>
						
						<% values_count = 0 %>
						
						<ul>
							<% values.each do |value| %>
								
								<% 
									 values_count += 1
									 filter = { "name" => value }
								%>
								
								<li style="text-align: center;">
									<%= render :partial => 'filtering/filter_options_item',
	                         	 :locals => { :filter => filter,
	                                      	:filter_type => filter_type } -%>
								</li>
								
								<% unless values_count == values.length %>
									<li style="font-weight: bold; font-size: 85%; text-align: center; line-height: 1.1;">
										OR
									</li>
								<% end %>
								
							<% end %>
						</ul>
					
					<% end %>
					
				</div>
				
				<% unless filters_count == current_filters.length %>
					<p style="font-weight: bold; font-size: 100%; text-align: center; margin: 0;">
						AND
					</p>
				<% end %>
			
			<% end %>
			
			<div style="margin-top: 0.8em; text-align: center; font-weight: bold;">
				<%= link_to("Clear all filters", "#{services_url}#browse", :style => "font-size: 90%;") -%>
			</div>
		
		<% end %>    
		
	<% end %>
</div>