<%

# BioCatalogue: app/views/filtering/_selected_filters.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%
	 current_filters_grouped = current_selected_filters_grouped
%>

<div class="current_filters_box">
	<% rounded "#D9D9D9", "#333", "100%" do %>
		
		<p class="type">
			Current Filters Applied
		</p>
		
		<% if current_filters_grouped.blank? %>
		
			<div style="text-align:center;">
				<span class="none_text">none</span>
			</div>
			
		<% else %>
			
			<% filters_count = 0 %>
			
			<% current_filters_grouped.each do |current_filter_group| %>
				
				<% filters_count += 1 %>
				
				<div class="selected_filters_type_box">
					
					<% rounded "#FFC", "#333", "100%" do %>
					
						<% filter_group_subs_count = 0 %>
					
						<% current_filter_group.each do |filter_type, values| %>
						
							<% filter_group_subs_count += 1 %>
					
							<p class="type_small">
								<%= BioCatalogue::Filtering.filter_type_to_display_name(filter_type) -%>
							</p>
							
							<ul class="top_level">
								
								<% filter_items_count = 0 %>
								
								<% values.each do |value| %>
									
									<% 
										 filter = { "name" => value }
										 filter_items_count += 1
									%>
									
									<li style="text-align: center;">
										<%= render :partial => 'filtering/filter_option_item',
		                         	 :locals => { :filter => filter,
		                                      	:filter_type => filter_type } -%>
									</li>
									
									<% unless filter_items_count == values.length and filter_group_subs_count == current_filter_group.length %>
										<li class="or">
											OR
										</li>
									<% end %>
									
								<% end %>
								
							</ul>
						
						<% end %>
					
					<% end %>
					
				</div>
				
				<% unless filters_count == current_filters_grouped.length %>
					<p class="and">
						AND
					</p>
				<% end %>
			
			<% end %>
			
			<div style="margin-top: 0.8em; text-align: center; font-weight: bold;">
				<%= link_to("Clear all filters", services_url, :class => "button_slim", :style => "font-size: 93%;") -%>
			</div>
		
		<% end %>    
		
	<% end %>
</div>