<%

# BioCatalogue: app/views/rest_parameters/_input_parameters.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%
  endpoint ||= ""
  
  show_button = logged_in? && BioCatalogue::Auth.allow_user_to_curate_thing?(current_user, method)
%>

<%= add_endpoints_by_popup(method, 
                           :class => "button_slim", 
                           :link_text => "Add Query Parameters") if show_button %>
<b>Input Parameters:</b>

<div class="box_indented_with_bar" style="margin: 1em 0 0 1.5em;">
  <% unless method.request_parameters.blank? %>
    <% templ_params = method.request_parameters.select{ |p| p.param_style=='template'} %>
    <% query_params = method.request_parameters.select{ |p| p.param_style=='query'} %>
    
    <% unless templ_params.blank? %>
      <div style='margin-bottom:2em;'>
        <b>URL Parameters:</b>
        
        <% templ_params.each do |param| %>
          <%= render :partial => "rest_parameters/listing",
                     :locals => {:param => param, 
                                 :method => method, 
                                 :resource => resource, 
                                 :show_actions => false } %>
        <% end %>
      </div>
    <% end %>
    
    <% unless query_params.blank? %>
      <div>
        <b>Query Parameters:</b>

        <% query_params.each do |param| %>
          <%= render :partial => "rest_parameters/listing",
                     :locals => {:param => param, 
                                 :method => method, 
                                 :resource => resource, 
                                 :show_actions => true } %>
        <% end %>
      </div>
    <% end %>
    
  <% else %>
    <span class="none_text">None Specified</span>
  <% end %>

  <span class="clear"></span> 
</div>

<br />