/* This file is intended to be used as a convenient way of replacing BioCatalogues main (green) colour scheme
  To use, create a copy of the file with the ".pre" suffix removed, then alter the following RGB colour codes as needed.
*/

/* Main colour - Light */
$primay_colour: #E9F7CC;

 /* Header colour - Slightly Darker */
$header_colour: #D3F78A;

/* Secondary colour - used on tabs - Slightly Darker still */
$secondary_colour: #BFE76F;