<%

   # BioCatalogue: app/views/oauth_clients/_form.html.erb
   #
   # Copyright (c) 2010, University of Manchester, The European Bioinformatics
   # Institute (EMBL-EBI) and the University of Southampton.
   # See license.txt for details

%>

<% field_styles = "float:right; width:70%;" %>
<% errors = [] %>
<% if !@client_application.nil? && !@client_application.errors.nil? then %>
    <% @client_application.errors.full_messages.each do |err| %>
        <% (errors << "#{err} </br>").html_safe %>
    <% end %>
< % end %>
<% if errors != [] %>
    <% flash[:error] = errors.to_s.html_safe %>
<% end %>

<div>
  <p class="step_text">
    <%= f.text_field :name, :style => field_styles %>
    Name: <span class="required">*</span>
  </p>

  <p class="step_text">
    <%= f.text_field :url, :style => field_styles %>
    Application URL: <span class="required">*</span>
  </p>

  <p class="step_text">
    <%= f.text_field :callback_url, :style => field_styles %>
    Callback URL:
  </p>

  <p class="step_text">
    <%= f.text_field :support_url, :style => field_styles %>
    Support URL:
  </p>
</div>