<%

# BioCatalogue: app/views/layouts/_debug.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div id="footer">
	<div id="footer_links">
		<ul>
			<li><a href="/termsofuse">Terms of use</a></li>
			<li class="separator"><a href="http://www.biocatalogue.org/wiki">About us</a></li>		
			<li class="separator"><a href="/contact">Contact us</a></li>
		</ul>
	</div>
	<span class="clear"></span>
	
	<div class="logos">
		<center>
			<% rounded "#FFF", "#333", "800px" do %>
				<p><b>The BioCatalogue is brought to you by:</b></p>
				<p>
					<%= link_to(image_tag('ebi_logo.png', :alt => "EMBL-EBI"), "http://www.ebi.ac.uk/", :target => "_blank") -%>
					<span>and the same people who brought you</span>
					<%= link_to(image_tag('myexp_logo.png', :alt => "myExperiment"), "http://www.myexperiment.org/", :target => "_blank") -%>
					<%= link_to(image_tag('taverna_logo.png', :alt => "Taverna"), "http://www.taverna.org.uk/", :target => "_blank") -%>
				</p>
			<% end %>
		</center>
	</div>
	
	<p>
		The BioCatalogue project is funded by the <a target="_blank" href="http://www.bbsrc.ac.uk/">BBSRC</a> (BB/F01046X/1, BB/F010540/1)
	</p>
</div>
