<!-- Not being used at the moment - look at application_wide.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>BioCatalogue</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
